streamlit
pandas
numpy
opencv-python-headless
Pillow
plotly
requests
scipy 
statsmodels 
openpyxl
xlsxwriter
tensorflow
pandas-profiling
streamlit-pandas-profiling
ydata-profiling
joblib
scikit-learn




